@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.alert {
  animation: alert 1s linear 1 forwards;
}
@keyframes alert {
  from {
    top: 1rem;
  }
  to {
    top: 3rem;
  }
}